.st-glass-bg {
  background: rgba(248, 255, 147, 0.096) !important;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border: 1px solid rgba(20, 51, 31, 0.81) !important;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(45, 255, 195, 0.521) !important;
  -moz-box-shadow: 0px 0px 20px 2px rgba(45, 255, 195, 0.521) !important;
  box-shadow: 0px 0px 20px 2px rgba(45, 255, 195, 0.521) !important;
}
